<div class="row">
    <div class="about_our_company" style="margin-bottom: 20px;">
        <p id="create-listing">Create a New Listing</p>
        <div class="titleline-icon"></div>
        <div class="form-group">
          <%= form.text_field :title, :class=> "form-control", :placeholder => "Your Property Name" %>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                  <div class="input-group">
                      <%= form.file_field :photos, multiple: true, :class=> "form-control"%>
                  </div>
              </div>
            </div>

            <div class="col-md-6">
              <p class='listing-input'><strong><i class="fa fa-envelope"></i>  Email Address</strong><br>
                <div class='form-control'>
                  <p><%= current_user.email %>
                </div>

              <p class='listing-input'><strong><i class="fa fa-phone"></i> Phone Number</strong><br>
                <div class='form-control'>
                  <p><%= current_user.phone_number %>
                </div>

              <p class='listing-input'><strong><i class="fa fa-money"></i> Price(<%=current_user.currency%>)</strong><br>
                <%= form.text_field :price, :class=> "form-control", :placeholder => "Price Per Night" %></p>

              <p class='listing-input'><strong><i class="fa fa-calendar-check-o"></i> Start Available Date(DD/MM/YYYY)</strong><br>
                <%= form.text_field :start_date, :class=> "form-control", :placeholder => "Start Date" %></p>

              <p class='listing-input'><strong><i class="fa fa-calendar-times-o"></i> End Available Date(DD/MM/YYYY)</strong><br>
                <%= form.text_field :end_date, :class=> "form-control", :placeholder => "End Date" %></p>

            </div>
        </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
          <p class='listing-input'><strong><i class="glyphicon glyphicon-map-marker"></i> Address </strong><br>
          <%= form.text_field :google_address, :class=> "form-control", :placeholder => "Enter your property google address" %>
      </div>

      <div class="form-group">
          <%= form.text_field :property_type, :class=> "form-control", :placeholder => "Your Property Type" %>
      </div>

      <div class="form-group">
          <%= form.text_field :city, :class=> "form-control", :placeholder => "City" %>
      </div>

    </div>
</div>

<div class="form-group">
    <p class='listing-input'><strong><i class="glyphicon glyphicon-pencil"></i> My Property Details </strong><br>
    <%= form.text_area :description, :class=> "form-control", :placeholder => "More details about your property" %>
</div>

<div class='col-md-12' id='create-filter-header'>
  <p class='listing-input'><strong> Filters </strong></p>
</div>

<div class='col-md-4 col-xs-4 col-sm-4'>
  <div class='row'>
    <div class='each-filter-container'>
      <p class='listing-input'><strong><i class="glyphicon glyphicon-pencil"></i> Room Type </strong><br>
      <div class='col-md-4 col-xs-4 col-sm-4'>
        <%= form.radio_button :room_type, :value=> "Entire Property" %> Entire <br>
      </div>
      <div class='col-md-4 col-xs-4 col-sm-4'>
        <%= form.radio_button :room_type, :value=> "Private Room" %> Private <br>
      </div>
      <div class='col-md-4 col-xs-4 col-sm-4'>
        <%= form.radio_button :room_type, :value=> "Share Room" %> Share <br>
      </div>
    </div>

    <div class='each-filter-container'>
      <p class='listing-input'><strong><i class="glyphicon glyphicon-pencil"></i> Accomodate </strong><br>
      <div class='col-md-4 col-xs-4 col-sm-4'>
        <%= form.radio_button :accomodate, :value=> 1 %> 1 Person <br>
      </div>
      <div class='col-md-4 col-xs-4 col-sm-4'>
        <%= form.radio_button :accomodate, :value=> 2 %> 2 - 3 People <br>
      </div>
      <div class='col-md-4 col-xs-4 col-sm-4'>
        <%= form.radio_button :accomodate, :value=> 3 %> >3 People <br>
      </div>
    </div>

    <div class='each-filter-container'>
      <p class='listing-input'><strong><i class="glyphicon glyphicon-pencil"></i> Bed </strong><br>
      <div class='col-md-4 col-xs-4 col-sm-4'>
        <%= form.radio_button :bed, :value=> 1 %> 1 Bed <br>
      </div>
      <div class='col-md-4 col-xs-4 col-sm-4'>
        <%= form.radio_button :bed, :value=> 2 %> 2 - 3 Beds <br>
      </div>
      <div class='col-md-4 col-xs-4 col-sm-4'>
        <%= form.radio_button :bed, :value=> 3 %> > >3 Beds <br>
      </div>
    </div>
  </div>
</div>

<div class='col-md-4 col-xs-4 col-sm-4'>

  <div class='row'>
    <div class='each-filter-container'>
      <p class='listing-input'><strong><i class="glyphicon glyphicon-pencil"></i> Bathroom </strong><br>
      <div class='col-md-6 col-xs-6 col-sm-6'>
        <%= form.radio_button :bathroom, :value=> 0.5 %> Share <br>
      </div>
      <div class='col-md-6 col-xs-6 col-sm-6'>
        <%= form.radio_button :bathroom, :value=> 1 %> Private <br>
      </div>
    </div>

    <div class='each-filter-container'>
      <p class='listing-input'><strong><i class="glyphicon glyphicon-pencil"></i> Kitchen </strong><br>
      <div class='col-md-6 col-xs-6 col-sm-6'>
        <%= form.radio_button :kitchen, :value=> 0.5 %> Share <br>
      </div>
      <div class='col-md-6 col-xs-6 col-sm-6'>
        <%= form.radio_button :kitchen, :value=> 1 %> Private <br>
      </div>
    </div>

    <div class='each-filter-container'>
      <p class='listing-input'><strong><i class="glyphicon glyphicon-pencil"></i> Parking Spot </strong><br>
      <div class='col-md-6 col-xs-6 col-sm-6'>
        <%= form.radio_button :parking_spot, :value=> true %> Yes <br>
      </div>
      <div class='col-md-6 col-xs-6 col-sm-6'>
        <%= form.radio_button :parking_spot, :value=> false %> No<br>
      </div>
    </div>
  </div>

</div>

<div class='col-md-4 col-xs-4 col-sm-4'>
  <div class='row'>
    <div class='each-filter-container'>
      <p class='listing-input'><strong><i class="glyphicon glyphicon-pencil"></i> Wifi </strong><br>
      <div class='col-md-6 col-xs-6 col-sm-6'>
        <%= form.radio_button :wifi, :value=> true %> Yes <br>
      </div>
      <div class='col-md-6 col-xs-6 col-sm-6'>
        <%= form.radio_button :wifi, :value=> false %> No<br>
      </div>
    </div>

    <div class='each-filter-container'>
      <p class='listing-input'><strong><i class="glyphicon glyphicon-pencil"></i> Smoke </strong><br>
      <div class='col-md-6 col-xs-6 col-sm-6'>
        <%= form.radio_button :smoke, :value=> true %> Yes <br>
      </div>
      <div class='col-md-6 col-xs-6 col-sm-6'>
        <%= form.radio_button :smoke, :value=> false %> No<br>
      </div>
    </div>

    <div class='each-filter-container'>
      <p class='listing-input'><strong><i class="glyphicon glyphicon-pencil"></i> Pets </strong><br>
      <div class='col-md-6 col-xs-6 col-sm-6'>
        <%= form.radio_button :pet, :value=> true %> Yes <br>
      </div>
      <div class='col-md-6 col-xs-6 col-sm-6'>
        <%= form.radio_button :pet, :value=> false %> No<br>
      </div>
    </div>
  </div>


</div>
