<center>
  <div id='dashboard-header'>
    <a href="/"><%= image_tag 'bearbnb-logo.png', :id => 'header-logo' %></a>
    <p id='tag-line-home'> Welcome to Bearbnb! Start your adventure with us </p>
  </div>
</center>

<!-- <div class="col-xs-8 col-sm-8 col-md-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2" align-items='center'> -->
  <div class="container" id='sign-up-container'>
      <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-4">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4 well well-sm">
              <legend><a href="http://www.jquery2dotnet.com"><i class="glyphicon glyphicon-globe"></i></a> Sign up!</legend>
              <center>
                <div id="clearance" class="sign-up">
                  <h2><%= t(".title") %></h2>

                  <%= form_for @user do |form| %>
                    <%= render partial: '/users/form', object: form %>

                    <div class="submit-field">
                      <%= form.submit class: "btn btn-success" %>
                    </div>
                  <% end %>
                  <div class="other-links">
                    <%= link_to t(".sign_in"), sign_in_path %>
                  </div>
                </div>
              </center>
          </div>
      </div>
  </div>
<!-- </div> -->
